<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>자동차 상세 보기</h1>
  <table border = "1" width = "550">
    <tr>
      <th>NO</th>
      <td><%= car.no %></td>
    </tr>
    <tr>
      <th>NAME</th>
      <td><%= car.name %></td>
    </tr>
    <tr>
      <th>PRICE</th>
      <td><%= car.price %></td>
    </tr>
    <tr>
      <th>COMPANY</th>
      <td><%= car.company %></td>
    </tr>
    <tr>
      <th>YEAR</th>
      <td><%= car.year %></td>
    </tr>
  </table> 
  <a href="/car/modify/<%=car.no%>">수정</a>
  <a href="/car/delete/<%=car.no%>">삭제</a>
  <a href="/car/list">목록</a>
</body>
</html>